.exampleActivity0,
.exampleActivity1 {
    &.in-minimal-mode {
        background-color: rgb(134, 19, 38);
    }
    .mode-minimal{
        background-color: rgb(134, 19, 38);
    }
    transition: background-color linear 1s;

    &.in-compact-mode {
        background-color: rgba(128, 128, 128, 1);
    }
    .mode-compact {
        background-color: rgba(128, 128, 128, 1);
        rolling-number {
            font-size: 18px;
        }

        rolling-number :backdrop {
            color: white;
        }
    }

    .mode-expanded {
        background-color: rgb(11, 102, 144);
    }

    .mode-overlay {
        background-color: rgb(45, 33, 33);
    }

    .activity-background {
        color: white;
    }
}