.systray-activity {
    .mode-compact {
        &>box>* {
            margin-left: 3px;
            margin-right: 3px;
        }

        &>box {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    .mode-expanded {
        &>box {
            margin: 20px 10px;
        }

        menu-item:hover {
            background-color: rgb(50, 50, 50);
        }

        menu-item {
            .arrow {
                background-color: transparent;
                border: none;
                background-image: none;
            }
        }
    }
}